<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('myproject:static/pyramid-16x16.png')}}">

    <title>Starter Scaffold for Pyramid Jinja2</title>

    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('myproject:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="starter-template">
      <div class="container">
        <div class="row">
          <h1>This is a very simple calculator</h1>

          <form method="POST" action="">
          <!-- <div>
          <input type="text" name="first" value='0'/>
          </div>
          <div>
          <input type="text" name="second" value='0'/>
          </div>
          <div>
          <p>${result}</p>
          </div>
          <input type="submit" name = 'one' value="Submit"/> -->
          <div class="row">
            <input type="text" name="result" value='{{result}}'/>
          </div>
          <div class="row">
            <input type="submit" name = 'button' value="1"/>
            <input type="submit" name = 'button' value="2"/>
            <input type="submit" name = 'button' value="3"/>
            <input type="submit" name = 'button' value="+"/>
            <input type="submit" name = 'button' value="/"/>
          </div>
          <div class="row">
            <input type="submit" name = 'button' value="4"/>
            <input type="submit" name = 'button' value="5"/>
            <input type="submit" name = 'button' value="6"/>
            <input type="submit" name = 'button' value="-"/>
            <input type="submit" name = 'button' value="="/>
          </div>
          <div class="row">
            <input type="submit" name = 'button' value="7"/>
            <input type="submit" name = 'button' value="8"/>
            <input type="submit" name = 'button' value="9"/>
            <input type="submit" name = 'button' value="*"/>
            <input type="submit" name = 'button' value="C"/>
          </div>
          </form>
        </div>
       <div class="row">
        <table style="width:100%">
        {% for row in dBList %}
        <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
        </table>
       </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
